# Historical Stock Prices

We need to get the stock prices of all the companies for which we have fundamental data.

We will use this information to compute returns, and fundamental metrics.

We will relay on the package YahooFinancials in order to get the ticker prices.

In [ ]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [161]:
# Load all the companies tickers and pivot by ticker_type
original_tickers_df = pd.read_csv('tickers.csv', header=None, names=["ccvm", "ticker", "ticker_type"])
tickers_df = pd.pivot(original_tickers_df, index='ccvm', columns='ticker_type', values='ticker')
tickers_df = tickers_df.add_prefix("ticker_type_")
tickers_df

ticker_type ticker_type_3 ticker_type_4 ticker_type_5 ticker_type_6
ccvm
94                  PATI3         PATI4           NaN           NaN
531                 ARTR3           NaN           NaN           NaN
574                 ARLA3         ARLA4           NaN           NaN
701                 BAHI3           NaN           NaN           NaN
906                 BBDC3         BBDC4           NaN           NaN
...                   ...           ...           ...           ...
23612               MSRO3           NaN           NaN           NaN
23710               HCBR3           NaN           NaN           NaN
23728               PRCA3           NaN           NaN           NaN
24783               NTCO3           NaN           NaN           NaN
24805               VIVA3           NaN           NaN           NaN

[409 rows x 4 columns]

## Ticker Types

In the cash market, tickers are composed by four letters, a number, and a suffix in some cases. The letters stand for the listed company and the number disclosed the equity type, as follows

|  Number |  Class | Trade name indication
|---|---|---|
| 3 | common share | ON (''ordinária nominativa'') |
| 4 | preferred share | PN (''preferencial nominativa'') |
| 5 | preferred share class A | PNA |
| 6 | preferred share class B | PNB |

In order to get the stock prices, we are going to start with the ON ticker, and then try with the PN, PNA, and PNB.

In [162]:
# Initialize DSE Cluster connection
try:
    from dse.cluster import Cluster
except ImportError:
    from cassandra.cluster import Cluster

cluster = Cluster(['tfm_uoc_dse'])  # provide contact points and port
session = cluster.connect('tfm_uoc')

In [163]:
original_companies_df = session.execute("select ccvm, company_name, cnpj from bovespa_company;")
original_companies_df = pd.DataFrame(
    [{
        "ccvm": int(x.ccvm), 
        "company_name": x.company_name,
        "cnpj": x.cnpj} 
            for x in list(original_companies_df)])

In [164]:
def get_companies_accounts(session):
    """
    This function computes the total number of financial accounts
    informed by company.
    
    It returns a pandas dataframe with the company id (ccvm)
    and the number of accounts.
    """
    import json

    solr_query = {
        "q": "*:*",
        "facet": {
            "field": "ccvm_exact",
            "limit": 10000
        }
    }

    accounts_per_company_query = \
        f"select * from bovespa_account WHERE solr_query='{json.dumps(solr_query)}'"

    accounts_per_company = session.execute(accounts_per_company_query).one()
    accounts_per_company = json.loads(accounts_per_company.facet_fields)["ccvm_exact"]
    accounts_per_company = pd.DataFrame([{
        "ccvm": int(ccvm), 
        "num_accounts": num_accounts } 
            for ccvm, num_accounts in accounts_per_company.items()])
    display("Total number of companies: {}".format(len(accounts_per_company)))
    return accounts_per_company

In [165]:
# Obtain all the companies with fundamental data 
companies_with_fundamentals_df = get_companies_accounts(session)
companies_with_fundamentals_df.head(10)

'Total number of companies: 782'

    ccvm  num_accounts
0  11070         48111
1  21067         44244
2  20010         43019
3  20931         42939
4  22020         41496
5  15253         40267
6  21636         39393
7  17450         38341
8  21490         38089
9  19569         38064

In [166]:
# Compute the ticker for each company (CCVM)
companies_df = pd.merge(left=companies_with_fundamentals_df, 
                        right=original_companies_df, 
                        how='left', 
                        left_on='ccvm', 
                        right_on='ccvm')

companies_df = pd.merge(left=companies_df, 
                        right=tickers_df, 
                        how='left', 
                        left_on='ccvm', 
                        right_on='ccvm')

companies_df.head(10)

,ccvm,num_accounts,company_name,cnpj,ticker_type_3,ticker_type_4,ticker_type_5,ticker_type_6
0,11070,48111,WLM INDÚSTRIA E COMÉRCIO S.A.,33.228.024/0001-51,SGAS3,SGAS4,NaN,NaN
1,21067,44244,MOURA DUBEUX ENGENHARIA S/A,12.049.631/0001-84,NaN,NaN,NaN,NaN
2,20010,43019,EQUATORIAL ENERGIA S/A,03.220.438/0001-73,EQTL3,NaN,NaN,NaN
3,20931,42939,MINERVA S/A,67.620.377/0001-14,BEEF3,NaN,NaN,NaN
4,22020,41496,JSL S.A.,52.548.435/0001-79,JSLG3,NaN,NaN,NaN
5,15253,40267,ENERGISA SA,00.864.214/0001-06,ENGI3,ENGI4,NaN,NaN
6,21636,39393,RENOVA ENERGIA S/A,08.534.605/0001-74,RNEW3,RNEW4,NaN,NaN
7,17450,38341,RUMO S.A.,02.387.241/0001-60,NaN,NaN,NaN,NaN
8,21490,38089,ALUPAR INVESTIMENTO S/A,08.364.948/0001-38,ALUP3,ALUP4,NaN,NaN
9,19569,38064,GOL LINHAS AEREAS INTELIGENTES SA,06.164.253/0001-87,NaN,GOLL4,NaN,NaN

In [167]:
companies_no_ticker_df = companies_df[(pd.isnull(companies_df["ticker_type_3"])) & 
                                      (pd.isnull(companies_df["ticker_type_4"])) &
                                      (pd.isnull(companies_df["ticker_type_5"])) &
                                      (pd.isnull(companies_df["ticker_type_6"]))]
companies_no_ticker_df = companies_no_ticker_df.sort_values(['ccvm'], ascending=[1])
print(f"Companies without Ticker Info: {companies_no_ticker_df.count()}")

Companies without Ticker Info: ccvm             454
num_accounts     454
company_name     454
cnpj             454
ticker_type_3      0
ticker_type_4      0
ticker_type_5      0
ticker_type_6      0
dtype: int64

In [168]:
companies_ticker_df = companies_df[(pd.notnull(companies_df["ticker_type_3"])) |
                                      (pd.notnull(companies_df["ticker_type_4"])) |
                                      (pd.notnull(companies_df["ticker_type_5"])) |
                                      (pd.notnull(companies_df["ticker_type_6"]))]
companies_ticker_df = companies_ticker_df.sort_values(['ccvm'], ascending=[1])
print(f"Companies with Ticker Info: {companies_ticker_df.count()}")

Companies with Ticker Info: ccvm             328
num_accounts     328
company_name     328
cnpj             328
ticker_type_3    326
ticker_type_4    111
ticker_type_5     24
ticker_type_6      1
dtype: int64

# Get all the tickers from which we will get historic prices
tickers = companies_df.ticker[pd.notna(companies_df.ticker)]

In [174]:
# for index, ticker in enumerate(tickers.to_list()):
company_stock_prices = {}
for index, row in companies_ticker_df.iterrows():
    available_tickers = []
    if pd.notna(row["ticker_type_3"]):
        available_tickers.append("ticker_type_3")
    if pd.notna(row["ticker_type_4"]):
        available_tickers.append("ticker_type_4")
    if pd.notna(row["ticker_type_5"]):
        available_tickers.append("ticker_type_5")
    if pd.notna(row["ticker_type_6"]):
        available_tickers.append("ticker_type_6")

    for ticker_column in available_tickers:    
        ticker = row[ticker_column]
        print(f"Getting ticker [{index}]: {ticker}.SA")
        yahoo_financials = YahooFinancials(f"{ticker}.SA")
        historical_stock_prices = yahoo_financials.get_historical_price_data('2000-01-01', '2020-01-03', 'daily')
        company_stock_prices[ticker] = historical_stock_prices[f"{ticker}.SA"]

Getting ticker [86]: BBAS3.SA
Getting ticker [459]: BGIP3.SA
Getting ticker [459]: BGIP4.SA
Getting ticker [144]: BEES3.SA
Getting ticker [144]: BEES4.SA
Getting ticker [616]: BPAR3.SA
Getting ticker [194]: BRSR3.SA
Getting ticker [194]: BRSR5.SA
Getting ticker [277]: BNBR3.SA
Getting ticker [453]: BMIN3.SA
Getting ticker [453]: BMIN4.SA
Getting ticker [175]: BMEB3.SA
Getting ticker [175]: BMEB4.SA
Getting ticker [215]: BRIV3.SA
Getting ticker [215]: BRIV4.SA
Getting ticker [77]: BDLL3.SA
Getting ticker [77]: BDLL4.SA
Getting ticker [229]: BALM3.SA
Getting ticker [229]: BALM4.SA
Getting ticker [314]: BAUH3.SA
Getting ticker [314]: BAUH4.SA
Getting ticker [131]: BMKS3.SA
Getting ticker [460]: BMTO3.SA
Getting ticker [460]: BMTO4.SA
Getting ticker [684]: BUET3.SA
Getting ticker [684]: BUET4.SA
Getting ticker [530]: CAMB3.SA
Getting ticker [530]: CAMB4.SA
Getting ticker [519]: RANI3.SA
Getting ticker [519]: RANI4.SA
Getting ticker [103]: CMIG3.SA
Getting ticker [103]: CMIG4.SA
Getting ticker [62]: CLSC3.SA
Getting ticker [62]: CLSC4.SA
Getting ticker [240]: CBEE3.SA
Getting ticker [81]: FESA3.SA
Getting ticker [81]: FESA4.SA
Getting ticker [403]: CEDO3.SA
Getting ticker [403]: CEDO4.SA
Getting ticker [120]: CSAB3.SA
Getting ticker [120]: CSAB4.SA
Getting ticker [476]: CTNM3.SA
Getting ticker [476]: CTNM4.SA
Getting ticker [281]: IMBI3.SA
Getting ticker [281]: IMBI4.SA
Getting ticker [22]: REDE3.SA
Getting ticker [22]: REDE4.SA
Getting ticker [75]: EEEL3.SA
Getting ticker [75]: EEEL4.SA
Getting ticker [193]: HBTS3.SA
Getting ticker [193]: HBTS5.SA
Getting ticker [520]: CATA3.SA
Getting ticker [520]: CATA4.SA
Getting ticker [115]: SCLO3.SA
Getting ticker [115]: SCLO4.SA
Getting ticker [119]: MSPA3.SA
Getting ticker [119]: MSPA4.SA
Getting ticker [386]: CRIV3.SA
Getting ticker [386]: CRIV4.SA
Getting ticker [204]: GGBR3.SA
Getting ticker [204]: GGBR4.SA
Getting ticker [64]: CSNA3.SA
Getting ticker [293]: CRUZ3.SA
Getting ticker [221]: CTSA3.SA
Getting ticker [221]: CTSA4.SA
Getting ticker [507]: CTKA3.SA
Getting ticker [507]: CTKA4.SA
Getting ticker [70]: VALE3.SA
Getting ticker [70]: VALE5.SA
Getting ticker [265]: ELEK3.SA
Getting ticker [265]: ELEK4.SA
Getting ticker [303]: CBMA3.SA
Getting ticker [303]: CBMA4.SA
Getting ticker [443]: CGRA3.SA
Getting ticker [443]: CGRA4.SA
Getting ticker [49]: GUAR3.SA
Getting ticker [49]: GUAR4.SA
Getting ticker [377]: ODER3.SA
Getting ticker [377]: ODER4.SA
Getting ticker [538]: BRGE3.SA
Getting ticker [538]: BRGE5.SA
Getting ticker [674]: COBE3B.SA
Getting ticker [674]: COBE5B.SA
Getting ticker [492]: LIXC3.SA
Getting ticker [492]: LIXC4.SA
Getting ticker [408]: MEND3.SA
Getting ticker [408]: MEND5.SA
Getting ticker [445]: BRKM3.SA
Getting ticker [445]: BRKM5.SA
Getting ticker [578]: CORR3.SA
Getting ticker [578]: CORR4.SA
Getting ticker [494]: DHBI3.SA
Getting ticker [494]: DHBI4.SA
Getting ticker [33]: ALPA3.SA
Getting ticker [33]: ALPA4.SA
Getting ticker [113]: SLED3.SA
Getting ticker [113]: SLED4.SA
Getting ticker [345]: SGEN3.SA
Getting ticker [345]: SGEN4.SA
Getting ticker [11]: SOND3.SA
Getting ticker [11]: SOND5.SA
Getting ticker [100]: SPRI3.SA
Getting ticker [100]: SPRI5.SA
Getting ticker [0]: SGAS3.SA
Getting ticker [0]: SGAS4.SA
Getting ticker [536]: TCNO3.SA
Getting ticker [536]: TCNO4.SA
Getting ticker [335]: TENE3.SA
Getting ticker [335]: TENE5.SA
Getting ticker [132]: TEKA3.SA
Getting ticker [132]: TEKA4.SA
Getting ticker [65]: TKNO3.SA
Getting ticker [65]: TKNO4.SA
Getting ticker [104]: TELB3.SA
Getting ticker [104]: TELB4.SA
Getting ticker [43]: OIBR3.SA
Getting ticker [43]: OIBR4.SA
Getting ticker [26]: CRPG3.SA
Getting ticker [26]: CRPG5.SA
Getting ticker [91]: UNIP3.SA
Getting ticker [91]: UNIP5.SA
Getting ticker [91]: UNIP6.SA
Getting ticker [436]: VULC3.SA
Getting ticker [372]: WMBY3.SA
Getting ticker [139]: MYPK3.SA
Getting ticker [148]: AZEV3.SA
Getting ticker [148]: AZEV4.SA
Getting ticker [222]: MWET3.SA
Getting ticker [222]: MWET4.SA
Getting ticker [36]: BOBR3.SA
Getting ticker [36]: BOBR4.SA
Getting ticker [178]: LFFE3.SA
Getting ticker [178]: LFFE4.SA
Getting ticker [177]: JBDU3.SA
Getting ticker [177]: JBDU4.SA
Getting ticker [213]: ITEC3.SA
Getting ticker [201]: RCSL3.SA
Getting ticker [201]: RCSL4.SA
Getting ticker [462]: KLBN3.SA
Getting ticker [462]: KLBN4.SA
Getting ticker [134]: SNSY3.SA
Getting ticker [134]: SNSY5.SA
Getting ticker [434]: FIBR3.SA
Getting ticker [140]: APTI3.SA
Getting ticker [140]: APTI4.SA
Getting ticker [651]: REEM3.SA
Getting ticker [651]: REEM4.SA
Getting ticker [146]: SULT3.SA
Getting ticker [146]: SULT4.SA
Getting ticker [63]: JOPA3.SA
Getting ticker [63]: JOPA4.SA
Getting ticker [200]: HAGA3.SA
Getting ticker [200]: HAGA4.SA
Getting ticker [437]: RSUL3.SA
Getting ticker [437]: RSUL4.SA
Getting ticker [376]: PPAR3.SA
Getting ticker [227]: PLAS3.SA
Getting ticker [171]: MNPR3.SA
Getting ticker [55]: PTBL3.SA
Getting ticker [162]: SCAR3.SA
Getting ticker [366]: MAPT3.SA
Getting ticker [366]: MAPT4.SA
Getting ticker [46]: SUZB6.SA
Getting ticker [46]: SUZB5.SA
Getting ticker [107]: RAPT3.SA
Getting ticker [107]: RAPT4.SA
Getting ticker [50]: TOYB3.SA
Getting ticker [50]: TOYB4.SA
Getting ticker [565]: ELPL3.SA
Getting ticker [565]: ELPL4.SA
Getting ticker [151]: BSLI3.SA
Getting ticker [151]: BSLI4.SA
Getting ticker [60]: CPLE3.SA
Getting ticker [60]: CPLE5.SA
Getting ticker [384]: USIM3.SA
Getting ticker [384]: USIM5.SA
Getting ticker [89]: WHRL3.SA
Getting ticker [89]: WHRL4.SA
Getting ticker [243]: CEPE3.SA
Getting ticker [243]: CEPE5.SA
Getting ticker [223]: SBSP3.SA
Getting ticker [83]: CEBR3.SA
Getting ticker [83]: CEBR5.SA
Getting ticker [23]: CYRE3.SA
Getting ticker [206]: CEEB3.SA
Getting ticker [206]: CEEB5.SA
Getting ticker [245]: ENMT3.SA
Getting ticker [245]: ENMT4.SA
Getting ticker [407]: SHUL3.SA
Getting ticker [407]: SHUL4.SA
Getting ticker [69]: HGTX3.SA
Getting ticker [370]: CMSA3.SA
Getting ticker [370]: CMSA4.SA
Getting ticker [380]: PCAR3.SA
Getting ticker [380]: PCAR4.SA
Getting ticker [202]: COCE3.SA
Getting ticker [202]: COCE5.SA
Getting ticker [690]: DXTG3.SA
Getting ticker [690]: DXTG4.SA
Getting ticker [154]: LTEL3B.SA
Getting ticker [154]: LTEL5B.SA
Getting ticker [5]: ENGI3.SA
Getting ticker [5]: ENGI4.SA
Getting ticker [360]: PSEG3.SA
Getting ticker [360]: PSEG4.SA
Getting ticker [168]: FRRN3B.SA
Getting ticker [168]: FRRN5B.SA
Getting ticker [95]: VSPT3.SA
Getting ticker [95]: VSPT4.SA
Getting ticker [510]: PQTM3.SA
Getting ticker [510]: PQTM4.SA
Getting ticker [234]: ATOM3.SA
Getting ticker [97]: GNAN3B.SA
Getting ticker [404]: CGAS3.SA
Getting ticker [404]: CGAS5.SA
Getting ticker [385]: GRUC3.SA
Getting ticker [353]: LIPR3.SA
Getting ticker [391]: SQRM3.SA
Getting ticker [371]: GFSA3.SA
Getting ticker [340]: ETRO3B.SA
Getting ticker [398]: VLTR3B.SA
Getting ticker [258]: PBEL3B.SA
Getting ticker [452]: QVQP3B.SA
Getting ticker [53]: BRFS3.SA
Getting ticker [112]: RSID3.SA
Getting ticker [225]: OPTS3B.SA
Getting ticker [121]: ECPR3.SA
Getting ticker [121]: ECPR4.SA
Getting ticker [656]: BNPA3B.SA
Getting ticker [339]: OPSE3B.SA
Getting ticker [235]: ENMA3B.SA
Getting ticker [235]: ENMA5B.SA
Getting ticker [405]: CEGR3.SA
Getting ticker [189]: UPKP3B.SA
Getting ticker [123]: GPCP3.SA
Getting ticker [439]: PSSA3.SA
Getting ticker [346]: ALEF3B.SA
Getting ticker [237]: CASN3.SA
Getting ticker [237]: CASN4.SA
Getting ticker [338]: OPHE3B.SA
Getting ticker [92]: EMAE3.SA
Getting ticker [92]: EMAE4.SA
Getting ticker [80]: TBLE3.SA
Getting ticker [295]: OPRE3B.SA
Getting ticker [337]: OPZI3B.SA
Getting ticker [209]: FTRT3B.SA
Getting ticker [205]: TLVT3B.SA
Getting ticker [399]: SPRT3B.SA
Getting ticker [260]: EKTR3.SA
Getting ticker [260]: EKTR4.SA
Getting ticker [191]: CPTP3B.SA
Getting ticker [216]: NEWT3B.SA
Getting ticker [188]: SLCT3B.SA
Getting ticker [96]: TIMP3.SA
Getting ticker [79]: VIVT3.SA
Getting ticker [79]: VIVT4.SA
Getting ticker [228]: MAOR3B.SA
Getting ticker [228]: MAOR4B.SA
Getting ticker [640]: BETP3B.SA
Getting ticker [106]: STBP3.SA
Getting ticker [106]: STBP4.SA
Getting ticker [39]: MMXM3.SA
Getting ticker [310]: MRSA3B.SA
Getting ticker [310]: MRSA5B.SA
Getting ticker [307]: OPGM3B.SA
Getting ticker [170]: KROT3.SA

Getting ticker [239]: CSRN3.SA
Getting ticker [239]: CSRN5.SA
Getting ticker [226]: CELP3.SA
Getting ticker [226]: CELP5.SA
Getting ticker [342]: PRPT3B.SA
Getting ticker [244]: GETI3.SA
Getting ticker [244]: GETI4.SA
Getting ticker [251]: GEPA3.SA
Getting ticker [251]: GEPA4.SA
Getting ticker [180]: TRPL3.SA
Getting ticker [180]: TRPL4.SA
Getting ticker [24]: IDNT3.SA
Getting ticker [126]: UGPA3.SA
Getting ticker [379]: MNZC3B.SA
Getting ticker [249]: DTCY3.SA
Getting ticker [249]: DTCY4.SA
Getting ticker [498]: SAPR3.SA
Getting ticker [498]: SAPR4.SA
Getting ticker [406]: VDNP3B.SA
Getting ticker [197]: CPFE3.SA
Getting ticker [128]: PEAB3.SA
Getting ticker [128]: PEAB4.SA
Getting ticker [160]: BRAP3.SA
Getting ticker [160]: BRAP4.SA
Getting ticker [94]: IVPR3B.SA
Getting ticker [94]: IVPR4B.SA
Getting ticker [61]: CCRO3.SA
Getting ticker [217]: CANT3B.SA
Getting ticker [217]: CANT4B.SA
Getting ticker [694]: CALA3B.SA
Getting ticker [694]: CALA4B.SA
Getting ticker [369]: CAIA3B.SA
Getting ticker [27]: CTAX3.SA
Getting ticker [27]: CTAX4.SA
Getting ticker [481]: CABI3B.SA
Getting ticker [378]: CACO3B.SA
Getting ticker [250]: CRTE3B.SA
Getting ticker [250]: CRTE5B.SA
Getting ticker [283]: PRMN3B.SA
Getting ticker [716]: CRSC3B.SA
Getting ticker [133]: BIOM3.SA
Getting ticker [425]: AELP3.SA
Getting ticker [40]: TPIS3.SA
Getting ticker [169]: ITUB3.SA
Getting ticker [169]: ITUB4.SA
Getting ticker [181]: ANDG3B.SA
Getting ticker [181]: ANDG4B.SA
Getting ticker [330]: CSMG3.SA
Getting ticker [516]: ECOR3.SA
Getting ticker [375]: NATU3.SA
Getting ticker [9]: GOLL4.SA
Getting ticker [90]: GRND3.SA
Getting ticker [214]: DASA3.SA
Getting ticker [84]: RNAR3.SA
Getting ticker [135]: RENT3.SA
Getting ticker [12]: ENBR3.SA
Getting ticker [42]: ARTR3.SA
Getting ticker [32]: CSAN3.SA
Getting ticker [35]: LIGT3.SA
Getting ticker [13]: BRML3.SA
Getting ticker [230]: TEMP3.SA
Getting ticker [30]: BRPR3.SA
Getting ticker [105]: TOTS3.SA
Getting ticker [2]: EQTL3.SA
Getting ticker [395]: VLID3.SA
Getting ticker [52]: AGRO3.SA
Getting ticker [305]: CARD3.SA
Getting ticker [415]: LUPA3.SA
Getting ticker [176]: EMBR3.SA
Getting ticker [66]: ODPV3.SA
Getting ticker [158]: CREM3.SA
Getting ticker [450]: AFLU3.SA
Getting ticker [450]: AFLU5.SA
Getting ticker [166]: CCXC3.SA
Getting ticker [17]: TAEE3.SA
Getting ticker [17]: TAEE11.SA
Getting ticker [76]: MDIA3.SA
Getting ticker [54]: PFRM3.SA
Getting ticker [465]: VAGR3.SA
Getting ticker [473]: POSI3.SA
Getting ticker [114]: LPSB3.SA
Getting ticker [138]: TCSA3.SA
Getting ticker [48]: RDNI3.SA
Getting ticker [56]: PDGR3.SA
Getting ticker [28]: IGTA3.SA
Getting ticker [145]: SMTO3.SA
Getting ticker [20]: EVEN3.SA
Getting ticker [29]: SANB3.SA
Getting ticker [29]: SANB4.SA
Getting ticker [87]: CPRE3.SA
Getting ticker [58]: PINE3.SA
Getting ticker [58]: PINE4.SA
Getting ticker [16]: JBSS3.SA
Getting ticker [125]: JHSF3.SA
Getting ticker [152]: FRIO3.SA
Getting ticker [88]: FHER3.SA
Getting ticker [150]: CRDE3.SA
Getting ticker [238]: CEED3.SA
Getting ticker [238]: CEED4.SA
Getting ticker [502]: SFSA3.SA
Getting ticker [502]: SFSA4.SA
Getting ticker [167]: VIVR3.SA
Getting ticker [38]: LOGN3.SA
Getting ticker [309]: PRBC4.SA
Getting ticker [440]: SLCE3.SA
Getting ticker [157]: EZTC3.SA
Getting ticker [18]: MRFG3.SA
Getting ticker [219]: DAYC4.SA
Getting ticker [41]: TGMA3.SA
Getting ticker [161]: MAGG3.SA
Getting ticker [21]: HBOR3.SA
Getting ticker [218]: IDVL3.SA
Getting ticker [218]: IDVL4.SA
Getting ticker [47]: MRVE3.SA
Getting ticker [3]: BEEF3.SA
Getting ticker [355]: ABCB4.SA
Getting ticker [124]: SGPS3.SA
Getting ticker [37]: MULT3.SA
Getting ticker [67]: GSHP3.SA
Getting ticker [14]: ESTC3.SA
Getting ticker [101]: CCPR3.SA
Getting ticker [149]: DTEX3.SA
Getting ticker [15]: SULA3.SA
Getting ticker [15]: SULA4.SA
Getting ticker [155]: TRIS3.SA
Getting ticker [471]: BBRK3.SA
Getting ticker [183]: BPAN4.SA
Getting ticker [165]: ENEV3.SA
Getting ticker [163]: ALSC3.SA
Getting ticker [192]: NUTR3.SA
Getting ticker [19]: OSXB3.SA
Getting ticker [45]: DIRR3.SA
Getting ticker [74]: GPAR3.SA
Getting ticker [59]: HYPE3.SA
Getting ticker [164]: LLIS3.SA
Getting ticker [179]: PRML3.SA
Getting ticker [8]: ALUP3.SA
Getting ticker [8]: ALUP4.SA
Getting ticker [203]: BVMF3.SA
Getting ticker [6]: RNEW3.SA
Getting ticker [6]: RNEW4.SA
Getting ticker [72]: TRPN3.SA
Getting ticker [57]: SWET3.SA
Getting ticker [426]: CIEL3.SA
Getting ticker [190]: CTIP3.SA
Getting ticker [82]: FLRY3.SA
Getting ticker [259]: MPLU3.SA
Getting ticker [247]: MILS3.SA
Getting ticker [4]: JSLG3.SA
Getting ticker [147]: AMAR3.SA
Getting ticker [269]: RDTR3.SA
Getting ticker [336]: TERI3.SA
Getting ticker [271]: AFLT3.SA
Getting ticker [78]: PRIO3.SA
Getting ticker [25]: BRIN3.SA
Getting ticker [478]: RJCP3.SA
Getting ticker [85]: SSBR3.SA
Getting ticker [99]: QGEP3.SA
Getting ticker [31]: SHOW3.SA
Getting ticker [34]: MGLU3.SA
Getting ticker [136]: QUAL3.SA
Getting ticker [44]: BPHA3.SA
Getting ticker [111]: TECN3.SA
Getting ticker [73]: SEDU3.SA
Getting ticker [508]: HPIA3.SA
Getting ticker [475]: STKF3.SA
Getting ticker [212]: BPAC3.SA
Getting ticker [212]: BPAC5.SA
Getting ticker [256]: LCAM3.SA
Getting ticker [290]: VIGR3.SA
Getting ticker [137]: UCAS3.SA
Getting ticker [117]: SNSL3.SA
Getting ticker [130]: BSEV3.SA
Getting ticker [600]: NRTQ3.SA
Getting ticker [142]: LINX3.SA
Getting ticker [665]: SMLE3.SA
Getting ticker [172]: BBSE3.SA
Getting ticker [102]: CABB3.SA
Getting ticker [421]: ALTS3.SA
Getting ticker [421]: ALTS11.SA
Getting ticker [129]: SEER3.SA
Getting ticker [196]: ANIM3.SA
Getting ticker [185]: ABEV3.SA
Getting ticker [563]: QUSW3.SA
Getting ticker [466]: CVCB3.SA
Getting ticker [485]: RUMO3.SA
Getting ticker [497]: RLOG3.SA
Getting ticker [207]: OGSA3.SA
Getting ticker [280]: OFSA3.SA
Getting ticker [559]: MEAL3.SA
Getting ticker [279]: PARC3.SA
Getting ticker [537]: MSRO3.SA
Getting ticker [438]: HCBR3.SA
Getting ticker [331]: PRCA3.SA
Getting ticker [753]: NTCO3.SA
Getting ticker [744]: VIVA3.SA

In [266]:
# Generate the dataset with the historical prices for all the tickers.
stock_prices = []
tickers_with_prices = []
for ticker, historical_data in company_stock_prices.items():
    if "prices" in historical_data and len(historical_data["prices"]) > 0:
        tickers_with_prices.append(ticker)
        for stock_price in historical_data["prices"]:
            data = stock_price.copy()
            data["ticker"] = ticker
            stock_prices.append(data)
                        
stock_prices_df = pd.DataFrame(stock_prices)
# Convert the 'formatted_date' column type from string to datetime
stock_prices_df['formatted_date'] =  pd.to_datetime(stock_prices_df['formatted_date'], format='%Y-%m-%d')

In [268]:
print(f"We have {len(tickers_with_prices)} with historic stock prices")

We have 320 with historic stock prices

In [232]:
stock_prices_df.head(10)

,date,high,low,open,close,volume,adjclose,formatted_date,ticker,amount,type,data
0,946900800,2.85333,2.73333,2.80000,2.73333,514800.0,1.549851,2000-01-03,BBAS3,NaN,NaN,NaN
1,946987200,2.74000,2.60333,2.73333,2.60333,314100.0,1.476138,2000-01-04,BBAS3,NaN,NaN,NaN
2,947073600,2.63333,2.50667,2.60000,2.63000,478800.0,1.491260,2000-01-05,BBAS3,NaN,NaN,NaN
3,947160000,2.66667,2.60000,2.63000,2.66667,205200.0,1.512054,2000-01-06,BBAS3,NaN,NaN,NaN
4,947246400,2.66667,2.60667,2.66667,2.60667,394200.0,1.478032,2000-01-07,BBAS3,NaN,NaN,NaN
5,947505600,2.75333,2.66667,2.73000,2.75000,549000.0,1.559303,2000-01-10,BBAS3,NaN,NaN,NaN
6,947592000,2.85333,2.67667,2.76667,2.71333,642600.0,1.538510,2000-01-11,BBAS3,NaN,NaN,NaN
7,947678400,2.76667,2.68333,2.73333,2.75000,584100.0,1.559303,2000-01-12,BBAS3,NaN,NaN,NaN
8,947764800,2.83333,2.70333,2.80000,2.70333,551700.0,1.532841,2000-01-13,BBAS3,NaN,NaN,NaN
9,947851200,2.76667,2.70000,2.73333,2.70000,248400.0,1.530952,2000-01-14,BBAS3,NaN,NaN,NaN

In [242]:
# Save the dataset as a CSV file
stock_prices_df.to_csv('stock_prices.csv')

In [255]:
# Generate the dataset with the historical events for all the tickers.
ticker_events = []
for ticker, historical_data in company_stock_prices.items():
    if "eventsData" in historical_data:        
        if "dividends" in historical_data["eventsData"] and len(historical_data["eventsData"]["dividends"]) > 0:
            for date, dividend in historical_data["eventsData"]["dividends"].items():
                data = dividend.copy()
                data["type"] = "dividend"
                data["ticker"] = ticker
                ticker_events.append(data)

        if "splits" in historical_data["eventsData"] and len(historical_data["eventsData"]["splits"]) > 0:
            for date, split in historical_data["eventsData"]["splits"].items():
                data = split.copy()
                data["type"] = "split"                
                data["ticker"] = ticker
                ticker_events.append(data)

ticker_events_df = pd.DataFrame(ticker_events)
# Convert the 'formatted_date' column type from string to datetime
ticker_events_df['formatted_date'] =  pd.to_datetime(ticker_events_df['formatted_date'], format='%Y-%m-%d')

In [256]:
ticker_events_df.head(10)

,amount,date,formatted_date,type,ticker,numerator,denominator,splitRatio
0,0.285821,1347454800,2012-09-12,dividend,BBAS3,NaN,NaN,NaN
1,0.156962,1305896400,2011-05-20,dividend,BBAS3,NaN,NaN,NaN
2,0.125885,1321617600,2011-11-18,dividend,BBAS3,NaN,NaN,NaN
3,0.126652,1473771600,2016-09-13,dividend,BBAS3,NaN,NaN,NaN
4,0.090568,1457010000,2016-03-03,dividend,BBAS3,NaN,NaN,NaN
5,0.297177,1355400000,2012-12-13,dividend,BBAS3,NaN,NaN,NaN
6,0.141039,1440421200,2015-08-24,dividend,BBAS3,NaN,NaN,NaN
7,0.446155,1566478800,2019-08-22,dividend,BBAS3,NaN,NaN,NaN
8,0.451138,1432299600,2015-05-22,dividend,BBAS3,NaN,NaN,NaN
9,0.137755,1465909200,2016-06-14,dividend,BBAS3,NaN,NaN,NaN

In [257]:
# Save the dataset as a CSV file
ticker_events_df.to_csv('ticker_events.csv')

In [262]:
# Generate the dataset with the ticker details.
ticker_details = []
for ticker, historical_data in company_stock_prices.items():
    ticker_data = {
        "ticker": ticker        
    }
    
    if "firstTradeDate" in historical_data: 
        ticker_data["first_trade_date"] = historical_data["firstTradeDate"]["date"]
        ticker_data["first_trade_formatted_date"] = pd.to_datetime(
            historical_data["firstTradeDate"]["formatted_date"], 
            format='%Y-%m-%d')
        
    if "currency" in historical_data:
        ticker_data["currency"] = historical_data["currency"]

    if "instrumentType" in historical_data:
        ticker_data["instrument_type"] = historical_data["instrumentType"]

    if "timeZone" in historical_data:
        ticker_data["time_zone_gmt_offset"] = historical_data["timeZone"]["gmtOffset"]
    
    ticker_details.append(ticker_data)

ticker_details_df = pd.DataFrame(ticker_details)

In [263]:
ticker_details_df.head(10)

,ticker,first_trade_date,first_trade_formatted_date,currency,instrument_type,time_zone_gmt_offset
0,BBAS3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
1,BGIP3,1.535720e+09,2018-08-31,BRL,EQUITY,-7200.0
2,BGIP4,1.199274e+09,2008-01-02,BRL,EQUITY,-7200.0
3,BEES3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
4,BEES4,1.211892e+09,2008-05-27,BRL,EQUITY,-7200.0
5,BPAR3,1.556196e+09,2019-04-25,BRL,EQUITY,-7200.0
6,BRSR3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
7,BRSR5,1.534424e+09,2018-08-16,BRL,EQUITY,-7200.0
8,BNBR3,9.469863e+08,2000-01-04,BRL,EQUITY,-7200.0
9,BMIN3,1.530536e+09,2018-07-02,BRL,EQUITY,-7200.0

In [264]:
# Save the dataset as a CSV file
ticker_details_df.to_csv('ticker_details.csv')