# Historical Stock Prices

We need to get the stock prices of all the companies for which we have fundamental data.

We will use this information to compute returns, and fundamental metrics.

We will relay on the package YahooFinancials in order to get the ticker prices.

In [1]:
import IPython
IPython.auto_scroll_threshold = 9999

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML

%load_ext autoreload
%autoreload 2
%load_ext autotime

In [2]:
from os import path
from yahoofinancials import YahooFinancials
import pandas as pd

from json_utils import write_to_gzip_file, load_from_gzip_file

time: 1.04 s

In [3]:
# Load all the companies tickers and pivot by ticker_type
original_tickers_df = pd.read_csv('tickers.csv', header=None, names=["ccvm", "ticker", "ticker_type"])
tickers_df = pd.pivot(original_tickers_df, index='ccvm', columns='ticker_type', values='ticker')
tickers_df = tickers_df.add_prefix("ticker_type_")
tickers_df

ticker_type ticker_type_3 ticker_type_4 ticker_type_5 ticker_type_6
ccvm
94                  PATI3         PATI4           NaN           NaN
531                 ARTR3           NaN           NaN           NaN
574                 ARLA3         ARLA4           NaN           NaN
701                 BAHI3           NaN           NaN           NaN
906                 BBDC3         BBDC4           NaN           NaN
...                   ...           ...           ...           ...
23612               MSRO3           NaN           NaN           NaN
23710               HCBR3           NaN           NaN           NaN
23728               PRCA3           NaN           NaN           NaN
24783               NTCO3           NaN           NaN           NaN
24805               VIVA3           NaN           NaN           NaN

[409 rows x 4 columns]

time: 72.3 ms

In [4]:
tickers_df = original_tickers_df

time: 2.88 ms

## Ticker Types

In the cash market, tickers are composed by four letters, a number, and a suffix in some cases. The letters stand for the listed company and the number disclosed the equity type, as follows

|  Number |  Class | Trade name indication
|---|---|---|
| 3 | common share | ON (''ordinária nominativa'') |
| 4 | preferred share | PN (''preferencial nominativa'') |
| 5 | preferred share class A | PNA |
| 6 | preferred share class B | PNB |

In order to get the stock prices, we are going to start with the ON ticker, and then try with the PN, PNA, and PNB.

In [5]:
# Initialize DSE Cluster connection
try:
    from dse.cluster import Cluster
except ImportError:
    from cassandra.cluster import Cluster

cluster = Cluster(['tfm_uoc_dse'])  # provide contact points and port
session = cluster.connect('tfm_uoc')

time: 209 ms

In [6]:
original_companies_df = session.execute("select ccvm, company_name, cnpj from bovespa_company;")
original_companies_df = pd.DataFrame(
    [{
        "ccvm": int(x.ccvm), 
        "company_name": x.company_name,
        "cnpj": x.cnpj} 
            for x in list(original_companies_df)])

time: 92.4 ms

In [7]:
from companies import get_companies_accounts

# Obtain all the companies with fundamental data 
companies_with_fundamentals_df = get_companies_accounts(session)
display("Total number of companies: {}".format(len(companies_with_fundamentals_df)))
companies_with_fundamentals_df.head(10)

'Total number of companies: 877'

    ccvm  num_accounts
0  11070         48111
1  21067         44244
2  20010         43019
3  20931         42939
4   2437         41730
5  22020         41496
6   6173         41192
7  15253         40267
8  21636         39393
9   7811         38559

time: 1.11 s

In [8]:
# Compute the ticker for each company (CCVM)
companies_df = pd.merge(left=companies_with_fundamentals_df, 
                        right=original_companies_df, 
                        how='left', 
                        left_on='ccvm', 
                        right_on='ccvm')

companies_df = pd.merge(left=companies_df, 
                        right=tickers_df, 
                        how='left', 
                        left_on='ccvm', 
                        right_on='ccvm')

companies_df.head(10)

,ccvm,num_accounts,company_name,cnpj,ticker,ticker_type
0,11070,48111,WLM INDÚSTRIA E COMÉRCIO S.A.,33.228.024/0001-51,SGAS3,3.0
1,11070,48111,WLM INDÚSTRIA E COMÉRCIO S.A.,33.228.024/0001-51,SGAS4,4.0
2,21067,44244,MOURA DUBEUX ENGENHARIA S/A,12.049.631/0001-84,NaN,NaN
3,20010,43019,EQUATORIAL ENERGIA S/A,03.220.438/0001-73,EQTL3,3.0
4,20931,42939,MINERVA S/A,67.620.377/0001-14,BEEF3,3.0
5,2437,41730,CENTRAIS ELETRICAS BRASILEIRAS SA,00.001.180/0001-26,ELET3,3.0
6,2437,41730,CENTRAIS ELETRICAS BRASILEIRAS SA,00.001.180/0001-26,ELET5,5.0
7,22020,41496,JSL S.A.,52.548.435/0001-79,JSLG3,3.0
8,6173,41192,TAURUS ARMAS S.A.,92.781.335/0001-02,FJTA4,4.0
9,6173,41192,TAURUS ARMAS S.A.,92.781.335/0001-02,FJTA3,3.0

time: 22.4 ms

In [12]:
companies_no_ticker_df = companies_df[(pd.isnull(companies_df["ticker"]))]
companies_no_ticker_df = companies_no_ticker_df.sort_values(['ccvm'], ascending=[1])
print(f"Companies without Ticker Info: {companies_no_ticker_df.count()}")

Companies without Ticker Info: ccvm            493
num_accounts    493
company_name    493
cnpj            493
ticker            0
ticker_type       0
dtype: int64
time: 16.5 ms

In [13]:
companies_ticker_df = companies_df[(pd.notnull(companies_df["ticker"]))]
companies_ticker_df = companies_ticker_df.sort_values(['ccvm'], ascending=[1])
print(f"Companies with Ticker Info: {companies_ticker_df.count()}")

Companies with Ticker Info: ccvm            558
num_accounts    558
company_name    558
cnpj            558
ticker          558
ticker_type     558
dtype: int64
time: 11.1 ms

In [23]:
if path.exists("downloaded_financials.json.gz"):
    company_stock_prices = load_from_gzip_file("downloaded_financials.json.gz")
else:
    company_stock_prices = {}

time: 7.27 s

In [24]:
processed_stocks = company_stock_prices.keys()
# for index, ticker in enumerate(tickers.to_list()):
for index, row in companies_ticker_df.iterrows():
    ticker = row["ticker"]
    if ticker not in processed_stocks:
        print(f"Getting ticker [{index}]: {ticker}.SA")
        yahoo_financials = YahooFinancials(f"{ticker}.SA")
        historical_stock_prices = yahoo_financials.get_historical_price_data('2000-01-01', '2020-01-07', 'daily')
        company_stock_prices[ticker] = historical_stock_prices[f"{ticker}.SA"]
    else:
        print(f"[{index}]: {ticker}.SA already processed...")

[264]: PATI4.SA already processed...
[263]: PATI3.SA already processed...
[237]: BAHI3.SA already processed...
[245]: BBDC4.SA already processed...
[246]: BBDC3.SA already processed...
[392]: BAZA3.SA already processed...
[137]: BBAS3.SA already processed...
[274]: BGIP4.SA already processed...
[275]: BGIP3.SA already processed...
[226]: BEES3.SA already processed...
[227]: BEES4.SA already processed...
[861]: BPAR3.SA already processed...
[311]: BRSR3.SA already processed...
[312]: BRSR5.SA already processed...
[429]: BNBR3.SA already processed...
[660]: BMIN4.SA already processed...
[659]: BMIN3.SA already processed...
[277]: BMEB4.SA already processed...
[276]: BMEB3.SA already processed...
[342]: BRIV3.SA already processed...
[343]: BRIV4.SA already processed...
[119]: BDLL4.SA already processed...
[120]: BDLL3.SA already processed...
[364]: BALM4.SA already processed...
[363]: BALM3.SA already processed...
[481]: BAUH4.SA already processed...
[480]: BAUH3.SA already processed...
[207]: BMKS3.SA already processed...
[669]: BMTO4.SA already processed...
[668]: BMTO3.SA already processed...
[937]: BUET3.SA already processed...
[938]: BUET4.SA already processed...
[757]: CAMB4.SA already processed...
[756]: CAMB3.SA already processed...
[741]: RANI3.SA already processed...
[740]: RANI4.SA already processed...
[5]: ELET3.SA already processed...
[6]: ELET5.SA already processed...
[166]: CMIG3.SA already processed...
[165]: CMIG4.SA already processed...
[95]: CLSC3.SA already processed...
[94]: CLSC4.SA already processed...
[762]: CCHI3.SA already processed...
[761]: CCHI4.SA already processed...
[871]: CESP3.SA already processed...
[870]: CESP5.SA already processed...
[380]: CBEE3.SA already processed...
[125]: FESA4.SA already processed...
[126]: FESA3.SA already processed...
[592]: CEDO4.SA already processed...
[593]: CEDO3.SA already processed...
[193]: CSAB3.SA already processed...
[194]: CSAB4.SA already processed...
[692]: CTNM4.SA already processed...
[691]: CTNM3.SA already processed...
[433]: IMBI4.SA already processed...
[434]: IMBI3.SA already processed...
[36]: REDE3.SA already processed...
[35]: REDE4.SA already processed...
[116]: EEEL4.SA already processed...
[117]: EEEL3.SA already processed...
[308]: HBTS5.SA already processed...
[309]: HBTS3.SA already processed...
[743]: CATA3.SA already processed...
[742]: CATA4.SA already processed...
[184]: SCLO4.SA already processed...
[185]: SCLO3.SA already processed...
[192]: MSPA4.SA already processed...
[191]: MSPA3.SA already processed...
[570]: CRIV4.SA already processed...
[569]: CRIV3.SA already processed...
[328]: GGBR3.SA already processed...
[327]: GGBR4.SA already processed...
[103]: CSNA3.SA already processed...
[451]: CRUZ3.SA already processed...
[349]: CTSA4.SA already processed...
[350]: CTSA3.SA already processed...
[727]: CTKA3.SA already processed...
[726]: CTKA4.SA already processed...
[110]: VALE3.SA already processed...
[111]: VALE5.SA already processed...
[416]: ELEK4.SA already processed...
[415]: ELEK3.SA already processed...
[467]: CBMA3.SA already processed...
[468]: CBMA4.SA already processed...
[647]: CGRA4.SA already processed...
[646]: CGRA3.SA already processed...
[78]: GUAR3.SA already processed...
[77]: GUAR4.SA already processed...
[557]: ODER3.SA already processed...
[556]: ODER4.SA already processed...
[770]: BRGE5.SA already processed...
[771]: BRGE3.SA already processed...
[131]: CALI3.SA already processed...
[130]: CALI4.SA already processed...
[927]: COBE5B.SA already processed...
[926]: COBE3B.SA already processed...
[707]: LIXC3.SA already processed...
[708]: LIXC4.SA already processed...
[604]: MEND5.SA already processed...
[603]: MEND3.SA already processed...
[649]: BRKM3.SA already processed...
[650]: BRKM5.SA already processed...
[818]: CORR4.SA already processed...
[819]: CORR3.SA already processed...
[711]: DHBI3.SA already processed...
[710]: DHBI4.SA already processed...
[629]: MNDL3.SA already processed...
[222]: WEGE3.SA already processed...
[278]: ETER3.SA already processed...
[680]: EUCA3.SA already processed...
[681]: EUCA4.SA already processed...
[359]: SJOS3.SA already processed...
[360]: SJOS4.SA already processed...
[521]: FBMC3.SA already processed...
[522]: FBMC4.SA already processed...
[462]: FIGE3.SA already processed...
[463]: FIGE4.SA already processed...
[8]: FJTA4.SA already processed...
[9]: FJTA3.SA already processed...
[102]: FRAS3.SA already processed...
[598]: TUPY3.SA already processed...
[1010]: GAZO3.SA already processed...
[1009]: GAZO4.SA already processed...
[51]: VVAR11.SA already processed...
[52]: VVAR3.SA already processed...
[436]: HETA4.SA already processed...
[437]: HETA3.SA already processed...
[671]: HOOT3.SA already processed...
[670]: HOOT4.SA already processed...
[684]: IGBR3.SA already processed...
[310]: ROMI3.SA already processed...
[282]: TXRX3.SA already processed...
[283]: TXRX4.SA already processed...
[65]: INEP3.SA already processed...
[66]: INEP4.SA already processed...
[766]: ITSA3.SA already processed...
[765]: ITSA4.SA already processed...
[14]: JFEN3.SA already processed...
[183]: KEPL3.SA already processed...
[57]: LAME4.SA already processed...
[56]: LAME3.SA already processed...
[879]: LHER3.SA already processed...
[880]: LHER4.SA already processed...
[179]: LREN3.SA already processed...
[754]: LUXM3.SA already processed...
[755]: LUXM4.SA already processed...
[133]: MGEL3.SA already processed...
[134]: MGEL4.SA already processed...
[301]: ESTR3.SA already processed...
[302]: ESTR4.SA already processed...
[270]: POMO4.SA already processed...
[269]: POMO3.SA already processed...
[617]: MERC3.SA already processed...
[618]: MERC4.SA already processed...
[458]: MTIG3.SA already processed...
[457]: MTIG4.SA already processed...
[789]: DUQE4.SA already processed...
[790]: DUQE3.SA already processed...
[99]: GOAU3.SA already processed...
[98]: GOAU4.SA already processed...
[100]: MLFT4.SA already processed...
[101]: MLFT3.SA already processed...
[383]: MTSA3.SA already processed...
[382]: MTSA4.SA already processed...
[500]: MMAQ4.SA already processed...
[501]: MMAQ3.SA already processed...
[132]: MOAR3.SA already processed...
[233]: NAFG4.SA already processed...
[232]: NAFG3.SA already processed...
[138]: NEMO3.SA already processed...
[139]: NEMO5.SA already processed...
[509]: NORD3.SA already processed...
[224]: PNVL4.SA already processed...
[225]: PNVL3.SA already processed...
[464]: AHEB5.SA already processed...
[465]: AHEB3.SA already processed...
[315]: PETR4.SA already processed...
[316]: PETR3.SA already processed...
[155]: PTNT4.SA already processed...
[156]: PTNT3.SA already processed...
[1003]: PNOR3.SA already processed...
[1004]: PNOR6.SA already processed...
[293]: RPAD3.SA already processed...
[294]: RPAD5.SA already processed...
[31]: RPMG3.SA already processed...
[54]: ALPA4.SA already processed...
[53]: ALPA3.SA already processed...
[181]: SLED4.SA already processed...
[180]: SLED3.SA already processed...
[516]: SGEN4.SA already processed...
[517]: SGEN3.SA already processed...
[20]: SOND5.SA already processed...
[21]: SOND3.SA already processed...
[162]: SPRI3.SA already processed...
[161]: SPRI5.SA already processed...
[0]: SGAS3.SA already processed...
[1]: SGAS4.SA already processed...
[767]: TCNO3.SA already processed...
[768]: TCNO4.SA already processed...
[505]: TENE5.SA already processed...
[504]: TENE3.SA already processed...
[209]: TEKA4.SA already processed...
[208]: TEKA3.SA already processed...
[105]: TKNO4.SA already processed...
[104]: TKNO3.SA already processed...
[168]: TELB3.SA already processed...
[167]: TELB4.SA already processed...
[69]: OIBR4.SA already processed...
[70]: OIBR3.SA already processed...
[42]: CRPG3.SA already processed...
[41]: CRPG5.SA already processed...
[146]: UNIP5.SA already processed...
[147]: UNIP6.SA already processed...
[145]: UNIP3.SA already processed...
[443]: VULC3.SA already processed...
[551]: WMBY3.SA already processed...
[217]: MYPK3.SA already processed...
[235]: AZEV4.SA already processed...
[234]: AZEV3.SA already processed...
[351]: MWET3.SA already processed...
[352]: MWET4.SA already processed...
[60]: BOBR4.SA already processed...
[59]: BOBR3.SA already processed...
[287]: LFFE4.SA already processed...
[286]: LFFE3.SA already processed...
[285]: JBDU4.SA already processed...
[284]: JBDU3.SA already processed...
[340]: ITEC3.SA already processed...
[323]: RCSL3.SA already processed...
[322]: RCSL4.SA already processed...
[673]: KLBN4.SA already processed...
[674]: KLBN3.SA already processed...
[211]: SNSY5.SA already processed...
[212]: SNSY3.SA already processed...
[637]: FIBR3.SA already processed...
[218]: APTI3.SA already processed...
[219]: APTI4.SA already processed...
[902]: REEM4.SA already processed...
[901]: REEM3.SA already processed...
[229]: SULT4.SA already processed...
[230]: SULT3.SA already processed...
[97]: JOPA3.SA already processed...
[96]: JOPA4.SA already processed...
[321]: HAGA3.SA already processed...
[320]: HAGA4.SA already processed...
[640]: RSUL3.SA already processed...
[639]: RSUL4.SA already processed...
[555]: PPAR3.SA already processed...
[358]: PLAS3.SA already processed...
[268]: MNPR3.SA already processed...
[85]: PTBL3.SA already processed...
[255]: SCAR3.SA already processed...
[541]: MAPT3.SA already processed...
[542]: MAPT4.SA already processed...
[73]: SUZB5.SA already processed...
[74]: SUZB6.SA already processed...
[172]: RAPT3.SA already processed...
[173]: RAPT4.SA already processed...
[79]: TOYB3.SA already processed...
[80]: TOYB4.SA already processed...
[804]: ELPL3.SA already processed...
[805]: ELPL4.SA already processed...
[240]: BSLI4.SA already processed...
[239]: BSLI3.SA already processed...
[91]: CPLE3.SA already processed...
[92]: CPLE5.SA already processed...
[567]: USIM5.SA already processed...
[566]: USIM3.SA already processed...
[142]: WHRL3.SA already processed...
[143]: WHRL4.SA already processed...
[386]: CEPE5.SA already processed...
[385]: CEPE3.SA already processed...
[353]: SBSP3.SA already processed...
[129]: CEBR3.SA already processed...
[128]: CEBR5.SA already processed...
[38]: CYRE3.SA already processed...
[330]: CEEB5.SA already processed...
[331]: CEEB3.SA already processed...
[389]: ENMT4.SA already processed...
[390]: ENMT3.SA already processed...
[602]: SHUL3.SA already processed...
[601]: SHUL4.SA already processed...
[109]: HGTX3.SA already processed...
[548]: CMSA4.SA already processed...
[549]: CMSA3.SA already processed...
[560]: PCAR3.SA already processed...
[561]: PCAR4.SA already processed...
[325]: COCE5.SA already processed...
[324]: COCE3.SA already processed...
[945]: DXTG3.SA already processed...
[946]: DXTG4.SA already processed...
[243]: LTEL5B.SA already processed...
[244]: LTEL3B.SA already processed...
[11]: ENGI3.SA already processed...
[10]: ENGI4.SA already processed...
[535]: PSEG3.SA already processed...
[534]: PSEG4.SA already processed...
[261]: FRRN5B.SA already processed...
[262]: FRRN3B.SA already processed...
[154]: VSPT3.SA already processed...
[153]: VSPT4.SA already processed...
[731]: PQTM4.SA already processed...
[730]: PQTM3.SA already processed...
[369]: ATOM3.SA already processed...
[279]: BTTL3.SA already processed...
[280]: BTTL4.SA already processed...
[158]: GNAN3B.SA already processed...
[596]: CGAS5.SA already processed...
[595]: CGAS3.SA already processed...
[568]: GRUC3.SA already processed...
[527]: LIPR3.SA already processed...
[576]: SQRM3.SA already processed...
[550]: GFSA3.SA already processed...
[511]: ETRO3B.SA already processed...
[586]: VLTR3B.SA already processed...
[407]: PBEL3B.SA already processed...
[658]: QVQP3B.SA already processed...
[83]: BRFS3.SA already processed...
[178]: RSID3.SA already processed...
[355]: OPTS3B.SA already processed...
[195]: ECPR4.SA already processed...
[196]: ECPR3.SA already processed...
[907]: BNPA3B.SA already processed...
[510]: OPSE3B.SA already processed...
[371]: ENMA3B.SA already processed...
[370]: ENMA5B.SA already processed...
[597]: CEGR3.SA already processed...
[304]: UPKP3B.SA already processed...
[198]: GPCP3.SA already processed...
[642]: PSSA3.SA already processed...
[518]: ALEF3B.SA already processed...
[374]: CASN4.SA already processed...
[375]: CASN3.SA already processed...
[508]: OPHE3B.SA already processed...
[149]: EMAE3.SA already processed...
[148]: EMAE4.SA already processed...
[124]: TBLE3.SA already processed...
[453]: OPRE3B.SA already processed...
[507]: OPZI3B.SA already processed...
[334]: FTRT3B.SA already processed...
[329]: TLVT3B.SA already processed...
[587]: SPRT3B.SA already processed...
[409]: EKTR4.SA already processed...
[410]: EKTR3.SA already processed...
[306]: CPTP3B.SA already processed...
[344]: NEWT3B.SA already processed...
[303]: SLCT3B.SA already processed...
[157]: TIMP3.SA already processed...
[122]: VIVT3.SA already processed...
[123]: VIVT4.SA already processed...
[361]: MAOR3B.SA already processed...
[362]: MAOR4B.SA already processed...
[890]: BETP3B.SA already processed...
[170]: STBP3.SA already processed...
[171]: STBP4.SA already processed...
[63]: MMXM3.SA already processed...
[476]: MRSA3B.SA already processed...
[475]: MRSA5B.SA already processed...
[472]: OPGM3B.SA already processed...
[267]: KROT3.SA already processed...
[379]: CSRN3.SA already processed...
[378]: CSRN5.SA already processed...
[356]: CELP5.SA already processed...
[357]: CELP3.SA already processed...
[513]: PRPT3B.SA already processed...
[388]: GETI3.SA already processed...
[387]: GETI4.SA already processed...
[399]: GEPA4.SA already processed...
[400]: GEPA3.SA already processed...
[290]: TRPL3.SA already processed...
[289]: TRPL4.SA already processed...
[39]: IDNT3.SA already processed...
[201]: UGPA3.SA already processed...
[559]: MNZC3B.SA already processed...
[395]: DTCY3.SA already processed...
[396]: DTCY4.SA already processed...
[716]: SAPR4.SA already processed...
[715]: SAPR3.SA already processed...
[600]: VDNP3B.SA already processed...
[317]: CPFE3.SA already processed...
[204]: PEAB4.SA already processed...
[203]: PEAB3.SA already processed...
[252]: BRAP3.SA already processed...
[253]: BRAP4.SA already processed...
[152]: IVPR4B.SA already processed...
[151]: IVPR3B.SA already processed...
[93]: CCRO3.SA already processed...
[187]: CANT3B.SA already processed...
[188]: CANT4B.SA already processed...
[951]: CALA4B.SA already processed...
[950]: CALA3B.SA already processed...
[547]: CAIA3B.SA already processed...
[43]: CTAX3.SA already processed...
[44]: CTAX4.SA already processed...
[578]: CABI3B.SA already processed...
[558]: CACO3B.SA already processed...
[397]: CRTE5B.SA already processed...
[398]: CRTE3B.SA already processed...
[438]: PRMN3B.SA already processed...
[973]: CRSC3B.SA already processed...
[210]: BIOM3.SA already processed...
[625]: AELP3.SA already processed...
[64]: TPIS3.SA already processed...
[266]: ITUB3.SA already processed...
[265]: ITUB4.SA already processed...
[292]: ANDG3B.SA already processed...
[291]: ANDG4B.SA already processed...
[497]: CSMG3.SA already processed...
[737]: ECOR3.SA already processed...
[554]: NATU3.SA already processed...
[18]: GOLL4.SA already processed...
[144]: GRND3.SA already processed...
[341]: DASA3.SA already processed...
[135]: RNAR3.SA already processed...
[213]: RENT3.SA already processed...
[22]: ENBR3.SA already processed...
[68]: ARTR3.SA already processed...
[50]: CSAN3.SA already processed...
[58]: LIGT3.SA already processed...
[23]: BRML3.SA already processed...
[365]: TEMP3.SA already processed...
[48]: BRPR3.SA already processed...
[169]: TOTS3.SA already processed...
[3]: EQTL3.SA already processed...
[583]: VLID3.SA already processed...
[82]: AGRO3.SA already processed...
[470]: CARD3.SA already processed...
[612]: LUPA3.SA already processed...
[281]: EMBR3.SA already processed...
[106]: ODPV3.SA already processed...
[250]: CREM3.SA already processed...
[656]: AFLU3.SA already processed...
[655]: AFLU5.SA already processed...
[259]: CCXC3.SA already processed...
[28]: TAEE3.SA already processed...
[29]: TAEE11.SA already processed...
[118]: MDIA3.SA already processed...
[84]: PFRM3.SA already processed...
[677]: VAGR3.SA already processed...
[688]: POSI3.SA already processed...
[182]: LPSB3.SA already processed...
[216]: TCSA3.SA already processed...
[76]: RDNI3.SA already processed...
[86]: PDGR3.SA already processed...
[45]: IGTA3.SA already processed...
[228]: SMTO3.SA already processed...
[33]: EVEN3.SA already processed...
[46]: SANB3.SA already processed...
[47]: SANB4.SA already processed...
[140]: CPRE3.SA already processed...
[88]: PINE3.SA already processed...
[89]: PINE4.SA already processed...
[27]: JBSS3.SA already processed...
[200]: JHSF3.SA already processed...
[241]: FRIO3.SA already processed...
[141]: FHER3.SA already processed...
[238]: CRDE3.SA already processed...
[376]: CEED3.SA already processed...
[377]: CEED4.SA already processed...
[720]: SFSA4.SA already processed...
[721]: SFSA3.SA already processed...
[260]: VIVR3.SA already processed...
[62]: LOGN3.SA already processed...
[474]: PRBC4.SA already processed...
[643]: SLCE3.SA already processed...
[249]: EZTC3.SA already processed...
[30]: MRFG3.SA already processed...
[347]: DAYC4.SA already processed...
[67]: TGMA3.SA already processed...
[254]: MAGG3.SA already processed...
[34]: HBOR3.SA already processed...
[346]: IDVL4.SA already processed...
[345]: IDVL3.SA already processed...
[75]: MRVE3.SA already processed...
[4]: BEEF3.SA already processed...
[529]: ABCB4.SA already processed...
[199]: SGPS3.SA already processed...
[61]: MULT3.SA already processed...
[37]: BTOW3.SA already processed...
[107]: GSHP3.SA already processed...
[24]: ESTC3.SA already processed...
[163]: CCPR3.SA already processed...
[236]: DTEX3.SA already processed...
[26]: SULA3.SA already processed...
[25]: SULA4.SA already processed...
[247]: TRIS3.SA already processed...
[686]: BBRK3.SA already processed...
[296]: BPAN4.SA already processed...
[258]: ENEV3.SA already processed...
[256]: ALSC3.SA already processed...
[307]: NUTR3.SA already processed...
[32]: OSXB3.SA already processed...
[72]: DIRR3.SA already processed...
[115]: GPAR3.SA already processed...
[90]: HYPE3.SA already processed...
[257]: LLIS3.SA already processed...
[288]: PRML3.SA already processed...
[17]: ALUP4.SA already processed...
[16]: ALUP3.SA already processed...
[326]: BVMF3.SA already processed...
[12]: RNEW3.SA already processed...
[13]: RNEW4.SA already processed...
[113]: TRPN3.SA already processed...
[87]: SWET3.SA already processed...
[626]: CIEL3.SA already processed...
[305]: CTIP3.SA already processed...
[127]: FLRY3.SA already processed...
[408]: MPLU3.SA already processed...
[393]: MILS3.SA already processed...
[7]: JSLG3.SA already processed...
[231]: AMAR3.SA already processed...
[420]: RDTR3.SA already processed...
[506]: TERI3.SA already processed...
[422]: AFLT3.SA already processed...
[121]: PRIO3.SA already processed...
[40]: BRIN3.SA already processed...
[694]: RJCP3.SA already processed...
[136]: SSBR3.SA already processed...
[160]: QGEP3.SA already processed...
[49]: SHOW3.SA already processed...
[55]: MGLU3.SA already processed...
[214]: QUAL3.SA already processed...
[71]: BPHA3.SA already processed...
[177]: TECN3.SA already processed...
[114]: SEDU3.SA already processed...
[728]: HPIA3.SA already processed...
[690]: STKF3.SA already processed...
[338]: BPAC3.SA already processed...
[339]: BPAC5.SA already processed...
[405]: LCAM3.SA already processed...
[447]: VIGR3.SA already processed...
[215]: UCAS3.SA already processed...
[189]: SNSL3.SA already processed...
[206]: BSEV3.SA already processed...
[844]: NRTQ3.SA already processed...
[221]: LINX3.SA already processed...
[917]: SMLE3.SA already processed...
[271]: BBSE3.SA already processed...
[164]: CABB3.SA already processed...
[620]: ALTS3.SA already processed...

In [25]:
if not path.exists("downloaded_financials.json.gz"):
    write_to_gzip_file('downloaded_financials.json.gz', company_stock_prices)
else:
    print("donwloaded financials file already exists.")

donwloaded financials file already exists.
time: 3.03 ms

In [28]:
# Generate the dataset with the historical prices for all the tickers.
stock_prices = []
tickers_with_prices = []
ccvm_by_ticker = {}
for ticker, historical_data in company_stock_prices.items():
    if "prices" in historical_data and len(historical_data["prices"]) > 0:
        tickers_with_prices.append(ticker)
        for stock_price in historical_data["prices"]:
            data = stock_price.copy()
            data["ticker"] = ticker
            
            if "instrumentType" not in historical_data:
                data["type"] = "UNKNOWN"
            else:
                data["type"] = historical_data["instrumentType"]

            # Get the CCVM associated to the ticker
            if ticker not in ccvm_by_ticker:
                ticker_ccvm = companies_ticker_df[companies_ticker_df.ticker == ticker].ccvm
                ccvm = ticker_ccvm.loc[ticker_ccvm.index[0]]
                ccvm_by_ticker[ticker] = ccvm
                            
            data["ccvm"] = ccvm_by_ticker[ticker]
            
            stock_prices.append(data)
                                   
stock_prices_df = pd.DataFrame(stock_prices)
# Convert the 'formatted_date' column type from string to datetime
stock_prices_df['formatted_date'] =  pd.to_datetime(stock_prices_df['formatted_date'], format='%Y-%m-%d')

time: 4.9 s

In [29]:
print(f"We have {len(tickers_with_prices)} with historic stock prices")

We have 401 with historic stock prices
time: 2.29 ms

In [30]:
# Save the dataset as a CSV file
stock_prices_df.to_csv('stock_prices.csv.gz', compression='gzip')

time: 35 s

In [31]:
stock_prices_df = pd.read_csv('stock_prices.csv.gz', parse_dates=['date'])
stock_prices_df

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,date,high,low,open,close,volume,adjclose,formatted_date,ticker,type,ccvm,numerator,denominator,splitRatio,data,amount
0,0,1199275200,6.498830,6.498830,6.498830,6.498830,215.0,3.810863,2008-01-02,PATI4,EQUITY,94,NaN,NaN,NaN,NaN,NaN
1,1,1199361600,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-03,PATI4,EQUITY,94,NaN,NaN,NaN,NaN,NaN
2,2,1199448000,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-04,PATI4,EQUITY,94,NaN,NaN,NaN,NaN,NaN
3,3,1199707200,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-07,PATI4,EQUITY,94,NaN,NaN,NaN,NaN,NaN
4,4,1199793600,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-08,PATI4,EQUITY,94,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189745,1189745,1577448000,29.770000,28.860001,29.520000,28.870001,418100.0,28.700651,2019-12-27,VIVA3,EQUITY,24805,NaN,NaN,NaN,NaN,NaN
1189746,1189746,1577707200,29.219999,28.719999,28.940001,28.969999,252600.0,28.969999,2019-12-30,VIVA3,EQUITY,24805,NaN,NaN,NaN,NaN,NaN
1189747,1189747,1577966400,29.570000,28.940001,29.290001,29.100000,490200.0,29.100000,2020-01-02,VIVA3,EQUITY,24805,NaN,NaN,NaN,NaN,NaN
1189748,1189748,1578052800,29.250000,28.129999,29.000000,29.000000,1128400.0,29.000000,2020-01-03,VIVA3,EQUITY,24805,NaN,NaN,NaN,NaN,NaN
1189749,1189749,1578312000,28.959999,28.360001,28.959999,28.490000,445400.0,28.490000,2020-01-06,VIVA3,EQUITY,24805,NaN,NaN,NaN,NaN,NaN

time: 3.18 s

In [32]:
# Generate the dataset with the historical events for all the tickers.
ticker_events = []
for ticker, historical_data in company_stock_prices.items():
    if "eventsData" in historical_data:        
        if "dividends" in historical_data["eventsData"] and len(historical_data["eventsData"]["dividends"]) > 0:
            for date, dividend in historical_data["eventsData"]["dividends"].items():
                data = dividend.copy()
                data["type"] = "DIVIDEND"
                data["ticker"] = ticker
                ticker_events.append(data)

        if "splits" in historical_data["eventsData"] and len(historical_data["eventsData"]["splits"]) > 0:
            for date, split in historical_data["eventsData"]["splits"].items():
                data = split.copy()
                data["type"] = "SPLIT"                
                data["ticker"] = ticker
                ticker_events.append(data)

ticker_events_df = pd.DataFrame(ticker_events)
# Convert the 'formatted_date' column type from string to datetime
ticker_events_df['formatted_date'] =  pd.to_datetime(ticker_events_df['formatted_date'], format='%Y-%m-%d')

time: 48.8 ms

In [33]:
ticker_events_df.head(10)

,amount,date,formatted_date,type,ticker,numerator,denominator,splitRatio
0,1.124870,1430312400,2015-04-29,DIVIDEND,PATI4,NaN,NaN,NaN
1,1.151680,1461762000,2016-04-27,DIVIDEND,PATI4,NaN,NaN,NaN
2,1.143420,1493298000,2017-04-27,DIVIDEND,PATI4,NaN,NaN,NaN
3,1.391800,1554382800,2019-04-04,DIVIDEND,PATI4,NaN,NaN,NaN
4,1.066060,1365685200,2013-04-11,DIVIDEND,PATI4,NaN,NaN,NaN
5,1.189530,1523019600,2018-04-06,DIVIDEND,PATI4,NaN,NaN,NaN
6,0.423760,1272546000,2010-04-29,DIVIDEND,PATI4,NaN,NaN,NaN
7,1.003810,1335445200,2012-04-26,DIVIDEND,PATI4,NaN,NaN,NaN
8,1.341490,1398430800,2014-04-25,DIVIDEND,PATI4,NaN,NaN,NaN
9,0.962588,1304341200,2011-05-02,DIVIDEND,PATI4,NaN,NaN,NaN

time: 23.3 ms

In [34]:
# Save the dataset as a CSV file
ticker_events_df.to_csv('ticker_events.csv')

time: 182 ms

In [35]:
# Generate the dataset with the ticker details.
ticker_details = []
for ticker, historical_data in company_stock_prices.items():
    ticker_data = {
        "ticker": ticker        
    }
    
    if "firstTradeDate" in historical_data: 
        ticker_data["first_trade_date"] = historical_data["firstTradeDate"]["date"]
        ticker_data["first_trade_formatted_date"] = pd.to_datetime(
            historical_data["firstTradeDate"]["formatted_date"], 
            format='%Y-%m-%d')
        
    if "currency" in historical_data:
        ticker_data["currency"] = historical_data["currency"]

    if "instrumentType" in historical_data:
        ticker_data["instrument_type"] = historical_data["instrumentType"]

    if "timeZone" in historical_data:
        ticker_data["time_zone_gmt_offset"] = historical_data["timeZone"]["gmtOffset"]
    
    ticker_details.append(ticker_data)

ticker_details_df = pd.DataFrame(ticker_details)

time: 180 ms

In [36]:
ticker_details_df.head(10)

,ticker,first_trade_date,first_trade_formatted_date,currency,instrument_type,time_zone_gmt_offset
0,PATI4,1.199274e+09,2008-01-02,BRL,EQUITY,-7200.0
1,PATI3,9.488871e+08,2000-01-26,BRL,EQUITY,-7200.0
2,BAHI3,1.021985e+09,2002-05-21,BRL,EQUITY,-7200.0
3,BBDC4,1.199274e+09,2008-01-02,BRL,EQUITY,-7200.0
4,BBDC3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
5,BAZA3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
6,BBAS3,9.468999e+08,2000-01-03,BRL,EQUITY,-7200.0
7,BGIP4,1.199274e+09,2008-01-02,BRL,EQUITY,-7200.0
8,BGIP3,9.470727e+08,2000-01-05,BRL,EQUITY,-7200.0
9,BEES3,1.559652e+09,2019-06-04,BRL,EQUITY,-7200.0

time: 30.4 ms

In [37]:
# Save the dataset as a CSV file
ticker_details_df.to_csv('ticker_details.csv')

time: 128 ms

In [38]:
print(f"Total data points: {stock_prices_df.count()}")

Total data points: Unnamed: 0        1189750
date              1189750
high              1091492
low               1091492
open              1091492
close             1091492
volume            1091492
adjclose          1091492
formatted_date    1189750
ticker            1189750
type              1189750
ccvm              1189750
numerator               2
denominator             2
splitRatio              2
data                    6
amount                  4
dtype: int64
time: 198 ms

In [39]:
stock_prices_aggr_df = stock_prices_df.groupby(["ticker"]).count()
stock_prices_aggr_df.mean()

Unnamed: 0        2966.957606
date              2966.957606
high              2721.925187
low               2721.925187
open              2721.925187
close             2721.925187
volume            2721.925187
adjclose          2721.925187
formatted_date    2966.957606
type              2966.957606
ccvm              2966.957606
numerator            0.004988
denominator          0.004988
splitRatio           0.004988
data                 0.014963
amount               0.009975
dtype: float64

time: 273 ms

# Bovespa Index

We need to get the history index price of the index of reference of Bovespa, IBOV.

This index is accessible through the ticker: __^BVSP__.

We will save the result in the file: __ibov.csv__.

In [40]:
finance = YahooFinancials(f"^BVSP")
ibov_data = finance.get_historical_price_data('2000-01-01', '2020-01-03', 'daily')

time: 809 ms

In [41]:
# Generate the dataset with the historical prices for all the tickers.
ibov_prices = []
for ticker, historical_data in ibov_data.items():
    if "prices" in historical_data and len(historical_data["prices"]) > 0:
        for index_price in historical_data["prices"]:
            data = index_price.copy()
            data["ticker"] = ticker
            data["ccvm"] = 'BVSP'
            data["type"] = "INDEX"
            ibov_prices.append(data)
                        
ibov_prices_df = pd.DataFrame(ibov_prices)
# Convert the 'formatted_date' column type from string to datetime
ibov_prices_df['formatted_date'] =  pd.to_datetime(ibov_prices_df['formatted_date'], format='%Y-%m-%d')

time: 16.9 ms

In [42]:
ibov_prices_df.head(10)

,date,high,low,open,close,volume,adjclose,formatted_date,ticker,ccvm,type
0,946900800,17408.0,16719.0,17098.0,16930.0,0.0,16930.0,2000-01-03,^BVSP,BVSP,INDEX
1,946987200,16908.0,15851.0,16908.0,15851.0,0.0,15851.0,2000-01-04,^BVSP,BVSP,INDEX
2,947073600,16302.0,15350.0,15871.0,16245.0,0.0,16245.0,2000-01-05,^BVSP,BVSP,INDEX
3,947160000,16499.0,15977.0,16237.0,16107.0,0.0,16107.0,2000-01-06,^BVSP,BVSP,INDEX
4,947246400,16449.0,16125.0,16125.0,16309.0,0.0,16309.0,2000-01-07,^BVSP,BVSP,INDEX
5,947505600,17057.0,16325.0,16325.0,17022.0,0.0,17022.0,2000-01-10,^BVSP,BVSP,INDEX
6,947592000,17197.0,16573.0,17045.0,16573.0,0.0,16573.0,2000-01-11,^BVSP,BVSP,INDEX
7,947678400,16724.0,16331.0,16574.0,16617.0,0.0,16617.0,2000-01-12,^BVSP,BVSP,INDEX
8,947764800,17715.0,16663.0,16663.0,17298.0,0.0,17298.0,2000-01-13,^BVSP,BVSP,INDEX
9,947851200,17800.0,17306.0,17306.0,17658.0,0.0,17658.0,2000-01-14,^BVSP,BVSP,INDEX

time: 11.8 ms

In [43]:
# Save the dataset as a CSV file
ibov_prices_df.to_csv('ibov_prices.csv')

time: 79.1 ms

## Move data to DSE Node (Cassandra)

In [44]:
import IPython
IPython.auto_scroll_threshold = 9999

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML

%load_ext autoreload
%autoreload 2
%load_ext autotime

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 3.2 ms

In [45]:
import pandas as pd
import numpy as np
from db import sync_table
from pyspark.sql.types import *

from spark import init_spark_context, load_and_get_table_df
from companies import get_companies_with_tickers_and_fundamentals


sc, sql_context = init_spark_context("History Prices Job")

time: 3.17 s

In [46]:
stock_prices_df = pd.read_csv('stock_prices.csv.gz', parse_dates=['formatted_date'])
stock_prices_df = stock_prices_df[
    ["type", "ticker", "ccvm", "formatted_date", "high", "low", "open", "close", "adjclose", "volume"]]
stock_prices_df

,type,ticker,ccvm,formatted_date,high,low,open,close,adjclose,volume
0,EQUITY,PATI4,94,2008-01-02,6.498830,6.498830,6.498830,6.498830,3.810863,215.0
1,EQUITY,PATI4,94,2008-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2,EQUITY,PATI4,94,2008-01-04,NaN,NaN,NaN,NaN,NaN,NaN
3,EQUITY,PATI4,94,2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN
4,EQUITY,PATI4,94,2008-01-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1189745,EQUITY,VIVA3,24805,2019-12-27,29.770000,28.860001,29.520000,28.870001,28.700651,418100.0
1189746,EQUITY,VIVA3,24805,2019-12-30,29.219999,28.719999,28.940001,28.969999,28.969999,252600.0
1189747,EQUITY,VIVA3,24805,2020-01-02,29.570000,28.940001,29.290001,29.100000,29.100000,490200.0
1189748,EQUITY,VIVA3,24805,2020-01-03,29.250000,28.129999,29.000000,29.000000,29.000000,1128400.0
1189749,EQUITY,VIVA3,24805,2020-01-06,28.959999,28.360001,28.959999,28.490000,28.490000,445400.0

time: 3.04 s

In [47]:
stock_prices_df = pd.read_csv('stock_prices.csv.gz', parse_dates=['formatted_date'])
stock_prices_df = stock_prices_df[
    ["type", "ticker", "ccvm", "formatted_date", "high", "low", "open", "close", "adjclose", "volume"]]
stock_prices_df.columns = ["type", "ticker", "ccvm", "date", "high", "low", "open", "close", "adjclose", "volume"]

index_reference_df = pd.read_csv('ibov_prices.csv', parse_dates=['formatted_date'])
index_reference_df = index_reference_df[
    ["type", "ticker", "ccvm", "formatted_date", "high", "low", "open", "close", "adjclose", "volume"]]
index_reference_df.columns = ["type", "ticker", "ccvm", "date", "high", "low", "open", "close", "adjclose", "volume"]

risk_free_rate_df = pd.read_csv('Brazil_10year_bond_yield_historical_data.csv', parse_dates=['Date'])
risk_free_rate_df.columns = ["date", "close", "open", "high", "low", "change"]
risk_free_rate_df.drop(columns=["change"], inplace=True)
risk_free_rate_df.insert(0, "ccvm", "GEBR10Y")
risk_free_rate_df.insert(0, "ticker", "GEBR10Y")
risk_free_rate_df.insert(0, "type", "DEBT")
risk_free_rate_df["adjclose"] = risk_free_rate_df["close"]
risk_free_rate_df["volume"] = np.nan
risk_free_rate_df = risk_free_rate_df[["type", "ticker", "ccvm", "date", "high", "low", "open", "close", "adjclose", "volume"]]

time: 5.87 s

In [48]:
security_prices_df = pd.concat([stock_prices_df, index_reference_df, risk_free_rate_df])

time: 93.8 ms

In [49]:
prices_schema = StructType([
    StructField("type", StringType(), True),
    StructField("ticker", StringType(), True),
    StructField("ccvm", StringType(), True),    
    StructField("date", DateType(), True),
    StructField("high", FloatType(), True),
    StructField("low", FloatType(), True),
    StructField("open", FloatType(), True),
    StructField("close", FloatType(), True),
    StructField("adjclose", FloatType(), True),
    StructField("volume", FloatType(), True)])   

security_prices_spark_df = sql_context.createDataFrame(
    security_prices_df,
    schema=prices_schema)

time: 23.5 s

In [50]:
sync_table(security_prices_spark_df, "tfm_uoc_dse", "tfm_uoc_analysis", "security_prices", ["ccvm", "ticker", "date"])

Closing connections
time: 185 ms

/opt/conda/lib/python3.7/site-packages/dse/cqlengine/management.py:540: UserWarning: CQLENG_ALLOW_SCHEMA_MANAGEMENT environment variable is not set. Future versions of this package will require this variable to enable management functions.
  warnings.warn(msg)

In [51]:
security_prices_spark_df.write\
    .format("org.apache.spark.sql.cassandra")\
    .options(table="security_prices", keyspace="tfm_uoc_analysis")\
    .option("confirm.truncate","true")\
    .mode("overwrite")\
    .partitionBy("astodate")\
    .save()

time: 3min 17s

In [52]:
companies_tickers_df = get_companies_with_tickers_and_fundamentals(session)

companies_tickers_df = companies_tickers_df[["ticker", "ccvm", "company_name", "cnpj", "ticker_type", "num_accounts"]]

tickers_schema = StructType([
    StructField("ticker", StringType(), True),
    StructField("ccvm", StringType(), True),
    StructField("company_name", StringType(), True),    
    StructField("cnpj", StringType(), True),    
    StructField("ticker_type", FloatType(), True),    
    StructField("num_accounts", IntegerType(), True)])   

companies_tickers_spark_df = sql_context.createDataFrame(
    companies_tickers_df,
    schema=tickers_schema)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3242: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

time: 6.66 s

In [53]:
sync_table(companies_tickers_spark_df, "tfm_uoc_dse", "tfm_uoc_analysis", "company_tickers", ["ticker"])

Closing connections
time: 2.04 s

In [54]:
companies_tickers_spark_df.write\
    .format("org.apache.spark.sql.cassandra")\
    .options(table="company_tickers", keyspace="tfm_uoc_analysis")\
    .option("confirm.truncate","true")\
    .mode("overwrite")\
    .partitionBy("astodate")\
    .save()

time: 2.81 s

In [55]:
sc.stop()

time: 967 ms